#infoBox, #errorBox, #loadingBox {
  width: 80%;
  margin: 10px auto;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}
#loadingBox {
  background: #0ce3ac;
}
#infoBox {
  background: lightblue;
}
#errorBox {
  background: #F50;
}
#main {
  margin: 0 10px 20px 10px;
}
table th {
  background-color: lightblue;
  padding: 10px;
}
table td {
  padding: 5px 10px;
  background-color: #1b1b1b;
}
#home {
  text-align: center;
}